.newExpenseButton {
  background: linear-gradient(
    to right,
    #3c1053,
    #8a406c,
    #924a75,
    #6d2851,
    #4b0c31
  );

  background-size: 300% 100%;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 100;
  width: 75%;
  border-radius: 2rem;
  border: 1.5px solid white;
  box-shadow: var(--box-shadow);
  color: white;
  letter-spacing: 0.08rem;
  transition: all 0.4s ease-in-out;
}
.newExpenseButton:hover {
  cursor: pointer;
  background-position: 100% 0;
}

@media (min-width: 768px) {
  .newExpenseButton {
    width: 20%;
    font-size: 1.3rem;
  }
}
