* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --box-shadow: 1px 2px 8px rgb(60, 16, 83);
  --Font-Family: "Montserrat", sans-serif;
  --color-gradient: linear-gradient(rgb(173, 83, 137), rgb(60, 16, 83));
}
body {
  background-color: rgb(252, 252, 255);
  font-family: var(--Font-Family);
  letter-spacing: 0.08rem;
}
.App {
  margin: 2rem auto;
  padding: 0 0.5rem;
  max-width: 70rem;
}
